@charset "utf-8";

html {
  background-color: #f0f3f4;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #58666e;
  background-color: transparent;
}

img {
	max-width: 100%;
}

a {
	color: #363f44;
	text-decoration: none;
	cursor: pointer;
}

a:hover,
a:focus {
	color: #141719;
    text-decoration: none;
}

.bg-dark a {
	color: #c1c3c9;
}

.bg-dark a:hover {
    color: #fff;
}

.badge {
	background-color: #cfdadd;
}

.badge, .label {
	font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.m-b-sm {
		margin-bottom: 10px;
	}
	.i-switch {
		position: relative;
		display: inline-block;
		width: 35px;
		height: 20px;
		margin: 0; 
		cursor: pointer;
		background-color: #27c24c;
		border-radius: 30px;
	}
    .bg-info {
		color: #dcf2f8;
		background-color: #23b7e5;
	}

	.i-switch input {
		position: absolute;
		opacity: 0;
	}

	.i-switch i:before {
		position: absolute;
		top:-1px;
		bottom: -1px;
		left: -1px;
		right: -1px;
		background-color: #fff;
		border: 1px solid #f0f0f0;;
		border-radius: 30px;
		content:"";
		transition: all 0.2s;
	}

	.i-switch i:after {
		position: absolute;
		top: 1px;
		bottom: 1px;
		width: 18px;
		background-color: #fff;
		border-radius: 50%;
		content: "";
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
		transition: margin-left 0.3s;
	}

	.i-switch input[type="checkbox"]:checked + i:before {
		top: 50%;
		bottom: 50%;
		right: 5px;
		left: 50%;
		border-width: 0;
		border-radius: 5px;
	}

	.i-switch input[type="checkbox"]:checked + i:after {
		margin-left: 16px;
	}

	.font-color {color: blue;}


/*

 */

	.wrapper {
		padding: 15px;
	}

	.b-t {
		border-top: 1px solid #dee5e7;
	}

	.b-light {
		border-color: #edf1f2;
	}

	.bg-light {
		color: #58666e;
		background-color: #edf1f2;
	}

	.bg-light.lter {
		background-color: #f6f8f8;
	}

	.r-b {
		border-radius: 0 0 2px 2px;
	}
    
    .row-sm {
    	margin-left: -10px;
    	margin-right: -10px;
    }
    
    .row-sm > div {
    	padding-left: 10px;
    	padding-right: 10px;
    }
    
    .i-checks {
    	padding-left: 20px;
    	cursor: pointer;
    }

    .block {
    	display: block;
    }

    .m-b {
    	margin-bottom: 15px;
    }

    .i-checks input {
    	position: absolute;
    	opacity: 0;
    }

    .i-checks > span {
    	margin-left: -20px;
    }

    .pos-rlt {
    	position: relative;
    }

    .i-checks > span .active {
    	display: none;
    }

    .i-checks > input[type="radio"]:checked + span .active {
    	display: inherit;
    }

    .h-full {
    	height: 100%;
    }

    .w-full {
    	width: 100%;
    }

    .pos-abt {
    	position: absolute;
    }
    .bg-black-opacity {
    	background-color: rgba(32, 43, 54, 0.3);
    }

    .text-white {
    	color: #fff;
    }

    .m-t-xs {
    	margin-top: 5px;
    }

    .m-t-sm {
    	margin-top: 10px;
    }

     .i-checks span b {
    	display: inline-block;
    	float: left;
    	width: 50%;
    	height: 20px;
    }

    .i-checks span b.header {
    	height: 10px;
    }

    .bg-black {
    	color: #7793a7;
    	background-color: #1c2b36;
    }

    .bg-white {
    	color:#58666e;
    	background-color: #fff;
    }

    .bg-dark {
    	color: #a6a8b1;
    	background-color: #3a3f51;
    }

    .bg-primary {
    	color: #f4f3f9;
    	background-color: #7266ba;
    }

    .bg-info {
    	color: #dcf2f8;
    	background-color: #23b7e5;
    }

    .bg-success {
    	color: #c6efd0;
    	background-color: #27c24c;
    }

    .bg-danger {
    	color: #fff;
    	background-color: #f05050;
    }


    /*
    
     */
    
    .navbar {
		margin: 0;
		border-width: 0;
		border-radius: 0;
	}

	.app-header {
		z-index: 1025;
		border-radius: 0;
	}

	.bg-success.dk,
	.bg-success .dk {
		background-color: #20af42;
	}

	.bg-success .text-lt {
		color: #fff !important;
	}

	.navbar-header > button {
        padding: 10px 17px;
        font-size: 16px;
        line-height: 30px;
        text-decoration: none;
        background-color: transparent;
        border: none;
	}

	@media screen and (min-width: 768px) {
	.app-aside, .navbar-header {
       width: 200px;
    }
}

 /*此处767px后面不能加；不然@media无效.and后有空格
	@media screen and (max-width: 767px) {    
		.visible-xs-block {
			display: block !important;
		}
	}	
*/

.bg-white-only {
	background-color: #fff;
}

.box-shadow {
	 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

.m-l-xs {
	margin-left: 5px;
}

@media screen and (min-width: 768px) {
	.navbar-collapse {
		margin-left: 200px;
	}
}

.btn {
	font-weight: 700;
	border-radius: 2px;
	outline: 0 !important;
}

.no-shadow {
	box-shadow: none !important;
}

/*
将定位变更为默认的static，覆盖掉原来已经有的定位属性。
一个好处就是下面的w-full: 100% 的元素position：absolute的时候就会一直向
上寻找已经定位的元素。w-full: 100%就会相对找到的这个元素设置。
*/

.pos-stc {
	position: static !important; 
}

.w-full {
	width: 100%;
}

.dropdown-menu {
	border: 1px solid #dee5e7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.b-l {
	border-left: 1px solid #dee5e7;
}

.m-b-xs {
	margin-bottom: 5px;
}

.font-bold {
	font-weight: 700;
}

.badge-sm {
	padding: 2px 5px !important;
    font-size: 85%;
}

.l-h-2x {
	line-height: 2em;
}

.text-muted {
	color: #98a6ad;
}

.bg-white .text-muted {
	color: #98a6ad !important;
}

.m-r-xs {
	margin-right: 5px;
}

.label-sm {
	padding-top: 0;
	padding-bottom: 1px;
}

.bg-white a {
	color: #363f44;
}

.bg-warning {
	color: #fffefa;
	background-color: #fad733;
}

.inline-b {
	display: inline-block;
}

#mhd-canvas{
	display: block;
	width: 100%;
	height: 100%;
	/*border: 1px dashed #999;*/
	box-shadow:0px 4px 40px #233;
	/*background: black;*/
}

.dropdown-menu a {
	padding: 5px 15px;
}

.navbar .navbar-form-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.padder {
	padding-right: 15px;
	padding-left: 15px;
}

.rounded {
	border-radius: 200px;
}

.w {
	width: 200px;
}

.text-active,
.active > .text,
.active > .auto .text {
  display: none !important;
}

.active > .text-active,
.active > .auto .text-active {
  display: inline-block !important;
}

.badge.up {
	position: relative;
	top: -10px;
	padding: 3px 6px;
	margin-left: -10px;
}

@media screen and (max-width: 768px) {
	.navbar-nav > li > a .up {
		top: 0;
	}
}

@media (max-width: 768px) {
	.pull-right-xs {
		float: right!important;
	}
}

.w-xl {
	width: 320px;
}

.list-group {
	border-radius: 2px;
}

.list-group-item {
	padding-left: 15px;
}

.list-group-item.media {
	margin-top: 0;
}

.m-b-none {
	margin-bottom: 0 !important;
}

.texe-muted {
	color: #98a6ad;;
}

small {
	font-size: 12px;
}

.text-xs {
	font-size: 12px;
}

.text-sm {
	font-size: 13px;
}

.p-l-none {
	padding-left: 0;
}

.clear {
	display: block;
	overflow: hidden;
}

.avatar {
	position: relative;
	display: block;
	white-space: nowrap;
	border-radius: 500px;
}

.thumb-sm {
	display: inline-block;
	width: 40px;
}

.thumb-lg {
	display: inline-block;
	width: 96px;
}

.m-t-n-sm {
	margin-top: -10px;
}

.m-b-n-sm {
	margin-bottom: -10px;
}

.m-l-sm {
	margin-left: 10px;
}

.avatar i {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	margin: 2px;
	border-style: solid;
	border-width: 2px;
	border-radius: 100%;
}

.avatar.thumb i {
	margin: 1px;
}

.avatar i.on {
	background-color: #27c24c;
}

.avatar i.bottom {
	top: auto;
	right: 0;
	bottom: 0;
	left: auto;
}

.b-white {
	border-color: #fff;
}

.b-b {
	border-bottom: 1px solid #dee5e7;
}

.m-t-n-xs {
	margin-top: -5px;
}

.progress-xs {
	height: 8px;
}

.progress-xxs {
	height: 5px;
}

.app-aside {
	float: left;
}

.avatar img {
	width: 100%;
	border-radius: 500px;
}

.thumb img,
.thumb-xs img,
.thumb-sm img,
.thumb-md img,
.thumb-lg img,
.thumb-btn img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.img-full {
	width: 100%;
}

.bg-dark .text-muted {
	color: #8b8e99 !important;
}

.bg-dark.dk,
.bg-dark .dk {
	background-color: #2e3344;
}

.line {
	overflow: hidden;
	width: 100%;
	height: 2px;
	margin: 10px 0;
    font-size: 0;
}

.arrow {
	z-index: 10;
	border-width: 9px;
}

.arrow,
.arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

/*.arrow.top {
	top: -9px;
	left: 50%;
	margin-left: -9px;
	border-bottom-color: rgba(0, 0, 0 ,0.1);
	border-top-width: 0;
}*/

*[class~="arrow"][class~="top"] {   /*和上面写法一样效果*/
    top: -9px;
	left: 50%;
	margin-left: -9px;
	border-bottom-color: rgba(0, 0, 0 ,0.1);
	border-top-width: 0;
}

.arrow:after {
	border-width: 8px;
	content: "";
}

*[class~="arrow"][class~="top"]:after {
	top: 1px;
	margin-left: -8px;
	border-bottom-color: #fff;
	border-top-width: 0;
}

*[class~="arrow"][class~="top"][class~="arrow-info"]:after {
	border-bottom-color: #23b7e5;
}

*[class~="arrow"][class~="top"][class~="arrow-danger"]:after {
	border-bottom-color: #f05050;
}

.m-t {
	margin-top: 15px;
}



