<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="common.css">
<title>主题切换模版</title>
</head>
<body>
<div class="wrapper b-t b-light bg-light lter r-b container">
	<div class="row row-sm">
		<div class="col-xs-6">
			<label class="i-checks block m-b" ng-click="
			    app.settings.navbarHeaderColor = 'bg-black';
			    app.settings.navbarCollapseColor = 'bg-white-only';
			    app.settings.asideColor = 'bg-black';
			">
				<input type="radio" name="a" ng-model="app.settings.themeID" value="1" checked="checked">
				<span class="block bg-light clearfix pos-rlt">
					<span class="active pos-abt w-full h-full bg-black-opacity text-center">
						<i class="glyphicon glyphicon-ok text-white m-t-xs" ></i>
					</span>
					<b class="bg-black header"></b>
					<b class="bg-white header"></b>
					<b class="bg-black"></b>
				</span>
			</label>

			<label class="i-checks block m-b" ng-click="
			    app.settings.navbarHeaderColor = 'bg-black';
			    app.settings.navbarCollapseColor = 'bg-white-only';
			    app.settings.asideColor = 'bg-black';
			">
				<input type="radio" name="a" ng-model="app.settings.themeID" value="13">
				<span class="block bg-light clearfix pos-rlt">
					<span class="active pos-abt w-full h-full bg-black-opacity text-center">
						<i class="glyphicon glyphicon-ok text-white m-t-xs" ></i>
					</span>
					<b class="bg-dark header"></b>
					<b class="bg-white header"></b>
					<b class="bg-dark"></b>
				</span>
			</label>

			<label class="i-checks block m-b" ng-click="
			    app.settings.navbarHeaderColor = 'bg-black';
			    app.settings.navbarCollapseColor = 'bg-white-only';
			    app.settings.asideColor = 'bg-black';
			">
				<input type="radio" name="a" ng-model="app.settings.themeID" value="3">
				<span class="block bg-light clearfix pos-rlt">
					<span class="active pos-abt w-full h-full bg-black-opacity text-center">
						<i class="glyphicon glyphicon-ok text-white m-t-xs" ></i>
					</span>
					<b class="bg-primary header"></b>
					<b class="bg-white header"></b>
					<b class="bg-dark"></b>
				</span>
			</label>

			<label class="i-checks block m-b" ng-click="
			    app.settings.navbarHeaderColor = 'bg-black';
			    app.settings.navbarCollapseColor = 'bg-white-only';
			    app.settings.asideColor = 'bg-black';
			">
				<input type="radio" name="a" ng-model="app.settings.themeID" value="4">
				<span class="block bg-light clearfix pos-rlt">
					<span class="active pos-abt w-full h-full bg-black-opacity text-center">
						<i class="glyphicon glyphicon-ok text-white m-t-xs" ></i>
					</span>
					<b class="bg-info header"></b>
					<b class="bg-white header"></b>
					<b class="bg-dark"></b>
				</span>
			</label>

			<label class="i-checks block m-b" ng-click="
			    app.settings.navbarHeaderColor = 'bg-black';
			    app.settings.navbarCollapseColor = 'bg-white-only';
			    app.settings.asideColor = 'bg-black';
			">
				<input type="radio" name="a" ng-model="app.settings.themeID" value="5">
				<span class="block bg-light clearfix pos-rlt">
					<span class="active pos-abt w-full h-full bg-black-opacity text-center">
						<i class="glyphicon glyphicon-ok text-white m-t-xs" ></i>
					</span>
					<b class="bg-success header"></b>
					<b class="bg-white header"></b>
					<b class="bg-dark"></b>
				</span>
			</label>

			<label class="i-checks block m-b" ng-click="
			    app.settings.navbarHeaderColor = 'bg-black';
			    app.settings.navbarCollapseColor = 'bg-white-only';
			    app.settings.asideColor = 'bg-black';
			">
				<input type="radio" name="a" ng-model="app.settings.themeID" value="6">
				<span class="block bg-light clearfix pos-rlt">
					<span class="active pos-abt w-full h-full bg-black-opacity text-center">
						<i class="glyphicon glyphicon-ok text-white m-t-xs" ></i>
					</span>
					<b class="bg-danger header"></b>
					<b class="bg-white header"></b>
					<b class="bg-dark"></b>
				</span>
			</label>
		</div>
		<div class="col-xs-6">
			<label class="i-checks block m-b" ng-click="
			    app.settings.navbarHeaderColor = 'bg-black';
			    app.settings.navbarCollapseColor = 'bg-white-only';
			    app.settings.asideColor = 'bg-black';
			">
				<input type="radio" name="a" ng-model="app.settings.themeID" value="7">
				<span class="block bg-light clearfix pos-rlt">
					<span class="active pos-abt w-full h-full bg-black-opacity text-center">
						<i class="glyphicon glyphicon-ok text-white m-t-xs" ></i>
					</span>
					<b class="bg-black header"></b>
					<b class="bg-black header"></b>
					<b class="bg-white"></b>
				</span>
			</label>

			<label class="i-checks block m-b" ng-click="
			    app.settings.navbarHeaderColor = 'bg-black';
			    app.settings.navbarCollapseColor = 'bg-white-only';
			    app.settings.asideColor = 'bg-black';
			">
				<input type="radio" name="a" ng-model="app.settings.themeID" value="8">
				<span class="block bg-light clearfix pos-rlt">
					<span class="active pos-abt w-full h-full bg-black-opacity text-center">
						<i class="glyphicon glyphicon-ok text-white m-t-xs" ></i>
					</span>
					<b class="bg-info header"></b>
					<b class="bg-info header"></b>
					<b class="bg-white"></b>
				</span>
			</label>

			<label class="i-checks block m-b" ng-click="
			    app.settings.navbarHeaderColor = 'bg-black';
			    app.settings.navbarCollapseColor = 'bg-white-only';
			    app.settings.asideColor = 'bg-black';
			">
				<input type="radio" name="a" ng-model="app.settings.themeID" value="9">
				<span class="block bg-light clearfix pos-rlt">
					<span class="active pos-abt w-full h-full bg-black-opacity text-center">
						<i class="glyphicon glyphicon-ok text-white m-t-xs" ></i>
					</span>
					<b class="bg-success header"></b>
					<b class="bg-success header"></b>
					<b class="bg-white"></b>
				</span>
			</label>

			<label class="i-checks block m-b" ng-click="
			    app.settings.navbarHeaderColor = 'bg-black';
			    app.settings.navbarCollapseColor = 'bg-white-only';
			    app.settings.asideColor = 'bg-black';
			">
				<input type="radio" name="a" ng-model="app.settings.themeID" value="10">
				<span class="block bg-light clearfix pos-rlt">
					<span class="active pos-abt w-full h-full bg-black-opacity text-center">
						<i class="glyphicon glyphicon-ok text-white m-t-xs" ></i>
					</span>
					<b class="bg-primary header"></b>
					<b class="bg-primary header"></b>
					<b class="bg-white"></b>
				</span>
			</label>

			<label class="i-checks block m-b" ng-click="
			    app.settings.navbarHeaderColor = 'bg-black';
			    app.settings.navbarCollapseColor = 'bg-white-only';
			    app.settings.asideColor = 'bg-black';
			">
				<input type="radio" name="a" ng-model="app.settings.themeID" value="11">
				<span class="block bg-light clearfix pos-rlt">
					<span class="active pos-abt w-full h-full bg-black-opacity text-center">
						<i class="glyphicon glyphicon-ok text-white m-t-xs" ></i>
					</span>
					<b class="bg-danger header"></b>
					<b class="bg-danger header"></b>
					<b class="bg-white"></b>
				</span>
			</label>

			<label class="i-checks block m-b" ng-click="
			    app.settings.navbarHeaderColor = 'bg-black';
			    app.settings.navbarCollapseColor = 'bg-white-only';
			    app.settings.asideColor = 'bg-black';
			">
				<input type="radio" name="a" ng-model="app.settings.themeID" value="12">
				<span class="block bg-light clearfix pos-rlt">
					<span class="active pos-abt w-full h-full bg-black-opacity text-center">
						<i class="glyphicon glyphicon-ok text-white m-t-xs" ></i>
					</span>
					<b class="bg-dark header"></b>
					<b class="bg-dark header"></b>
					<b class="bg-white"></b>
				</span>
			</label>
		</div>
	</div>
</div>
<script type="text/javascript" src="../vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../vendor/jquery/bootstrap.js"></script>
<script type="text/javascript" src="../vendor/angular/angular.js"></script>
</body>
</html>